.header { background-color: #efefef;  padding: 30px 0;
    .header-top { 
        .logo {text-align: center;}
    }
    .gnb { position: absolute; top: 80px;}
}
.contents {
    h2 { text-align: center;
        font-size: 23px;
        margin: 50px 0;
        font-weight: 500;
    }
}

.Menu {
    .inner { display: flex; width: 1400px; margin: 30px auto; justify-content: space-between; }
    .MenuForm{ width: 45%;   
        select{ color: #000; margin-bottom: 30px; padding: 5px; }
        form{ padding: 20px; border: 1px solid #009223;
            p {
                background-color: #fff;
                overflow: hidden;
                border-bottom: 1px solid #e5e5e5;
                padding: 20px;
                &:last-child { border: none;}
                &.guide { font-size: 12px;}
                label{
                    float: left;
                    position: relative;
                    font-weight: 500;
                    width: 120px;
                    line-height: 35px;
                    font-size: 17px;
                    letter-spacing: -0.05em;
                }
                input { border: 1px solid #d8d8d8; width: 70%; height: 30px; }
                button { 
                    border: none;
                    background: #009223;
                    width: 100%;
                    padding: 20px;
                    font-size: 17px;
                    color: white;
                }
            }
        }
    }
    .MenuList{ width: 50%; margin-top: 55px;
        table { border-top: 3px solid #009223; width: 100%;
            .w1 { width: 15%; }
            .w2 { width: 20%; }
            .w3 { width: 15%; }
            .w4 { width: 10%; }
            .w5 { width: auto; }
            th { padding: 10px; border-bottom: 1px solid #ddd; }
            tr {text-align: center;border-bottom: 1px solid #ddd;
                th { padding: 10px; border-bottom: 1px solid #ddd;}
                td { padding: 10px;
                    img { width: 100%; }
                    button { border: none; display: inline-block; }
                }
                p.btn {    display: flex;
                    justify-content: space-evenly;
                    button {color: #fff; font-weight: 600; font-size: 16px; padding: 5px 10px;
                        &.edit { background-color: #009223; }
                        &.del { background-color: #fec61e; }
                    }
                   
                }
            }
        }
    }
}